@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-work-sans: "Work Sans", "sans-serif";

  --radius: 0.5rem;

  --color-primary-100: #ffe8f0;
  --color-primary: #ee2b69;

  --color-secondary: #fbe843;

  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;
  --color-black: #000000;

  --color-white-100: #f7f7f7;
  --color-white: #ffffff;

  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);

  --breakpoint-xs: 475px;
}

/*
  The default border-color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to sure everything still looks the same.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-20-semibold {
    @apply font-semibold text-[20px] text-black;
  }

  .text-18-semibold {
    @apply font-semibold text-[18px] text-black;
  }

  .text-16-semibold {
    @apply font-semibold text-[16px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-[14px] text-white/80;
  }

  .text-14-semibold {
    @apply font-semibold text-[14px] text-black;
  }

  .text-14-medium {
    @apply font-medium text-[14px] text-black;
  }

  .text-12-normal {
    @apply font-normal text-[12px] text-black-300;
  }

  .pink_container {
    @apply w-full bg-primary min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .subtitle {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative;
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }

  .heading {
    @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .card_grid {
    @apply grid lg:grid-cols-3 max-lg:grid-cols-2 max-xs:grid-cols-1 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5;
  }

  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /* profile */
  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-100;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  /* idea details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  /* navbar */
  .avatar {
    @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md;
  }

  .dropdown-menu {
    @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl;
  }

  .login {
    @apply border-[5px] py-4 border-black bg-white text-black relative shadow-100 font-work-sans font-medium hover:shadow-none transition-all duration-500;
  }

  /* searchform */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center;
  }

  /* startupcard */
  .startup-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }

  .startup-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full group-hover:bg-white-100;
  }

  .startup-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .startup-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .startup-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3;
  }

  .blog-card {
    @apply bg-white border-[5px] border-black p-3 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }

  .blog-card_date {
    @apply font-medium text-[14px] bg-primary-100 px-2 py-1 rounded-full group-hover:bg-white-100;
  }

  .blog-card_desc {
    @apply font-normal text-[13px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .blog-card_img {
    @apply w-full h-[120px] rounded-[10px] object-cover;
  }

  .blog-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[12px] text-white px-2.5 py-1.5;
  }

  .blog-card_edit-btn {
    @apply rounded-full bg-rose-500 font-medium text-[12px] text-white px-2.5 py-1.5;
  }

  .startup-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  /* startupform */
  .startup-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .startup-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .startup-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-black-300;
  }

  .startup-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300;
  }

  .startup-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .startup-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300;
  }

  .startup-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px];
  }

  /* view */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }

  .category-tag {
    @apply font-medium text-[14px] md:text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }

  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}

.md-editor {
  @apply mt-3 rounded-[22px] border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300;
}

svg.md-editor-icon {
  width: 24px !important;
  height: 24px !important;
}

.md-editor-footer {
  display: none !important;
}

.md-editor-toolbar {
  flex-wrap: wrap !important;
  padding: 10px !important;
}

.md-editor-toolbar-left {
  flex-wrap: wrap !important;
}

div[title="catalog"],
div[title="source code"] {
  display: none !important;
}

.prose > p > img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.prose > p:has(> img) {
  text-align: center;
}

.prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):before,
.prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):after {
  content: "" !important;
}

.prose p > code,
.prose li > code {
  background-color: #d6d5d5 !important;
  padding: 3px !important;
  border-radius: 2px !important;
}

/*social-link */
.social-link {
  @apply flex items-center justify-center size-7 p-2 text-white rounded-full shadow-md transition duration-200 ease-in-out;
}

.social-link:hover {
  @apply scale-110 opacity-90;
}

.social-link.facebook {
  @apply bg-blue-600 hover:bg-blue-700;
}

.social-link.whatsapp {
  @apply bg-green-500 hover:bg-green-600;
}

.social-link.twitter {
  @apply bg-black hover:bg-black;
}
