.markdown-layout {
  margin: 0 auto;
  padding: 1rem 0;
}

div.github-theme code {
  font-size: 0.85em !important;
}

.markdown-content {
  width: 100%;
  max-width: 100%;
}

.md-preview {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
}

.md-editor-code-head {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 40px !important;
  padding: 0 12px !important;
  background-color: #f6f8fa !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border: 1px solid #d0d7de !important;
  margin-bottom: 0 !important;
}

.md-editor-code-action {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  height: 100% !important;
}

.md-editor-code-flag {
  display: flex !important;
  align-items: center !important;
  gap: 6px !important;
  height: 100% !important;
}

.md-editor-code-flag span {
  margin-block-start: 0px !important;
}

.md-editor-code pre {
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 1px solid #d0d7de !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  background-color: #f6f8fa !important;
}

.md-editor-code pre code {
  font-size: 13px !important;
  line-height: 1.5 !important;
  font-weight: 600 !important;
}

.md-preview h1,
.md-preview h2,
.md-preview h3 {
  scroll-margin-top: 90px;
}

.md-preview p {
  margin: 1rem 0;
}

#markdown-preview ul {
  list-style-type: disc !important;
  padding-left: 20px !important;
}

#markdown-preview ol {
  list-style-type: decimal !important;
  padding-left: 20px !important;
}

#markdown-preview li {
  display: list-item !important;
}

.md-preview pre {
  border-radius: 8px;
  padding: 1rem;
  overflow-x: auto;
}

.md-editor-codetab-label {
  display: flex !important;
}

.md-preview code {
  font-size: 0.9em;
}

.md-preview,
.md-preview-wrapper,
.md-catalog {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.md-preview::-webkit-scrollbar,
.md-preview-wrapper::-webkit-scrollbar,
.md-catalog::-webkit-scrollbar {
  display: none !important;
}

@media (max-width: 1024px) {
  .markdown-layout {
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }

  .toc-wrapper {
    display: none;
  }

  .md-preview {
    font-size: 16px;
  }

  .md-editor-code {
    width: 90vw !important;
    overflow-x: auto !important;
  }
}

.md-editor-codetab-label {
  display: flex !important;
  align-items: center !important;
  padding-left: 0 !important;
  margin: 0 !important;
  gap: 12px !important;
}

.md-editor-codetab-label label {
  font-size: 12px !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 2px 0 !important;
}

.md-editor-codetab-label input:checked + label {
  border-block-end: none !important;
  color: var(--color-primary) !important;
}
